input {
  background-color: #D4EBD0;
  border: 0;
}
.dark input {
  background-color: #313131;
}
th > button {
  background-color: #A4C5C6;
}
.dark th > button {
  background-color: #181818;
  color: #FFF;
}
h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
/* experimental above */
body {
  font-family: Muli, Arial, sans-serif;
  background-color: #FAF4FF;
  margin: 0;
}

.dark {
  background-color: #000;
  color: #FFF;
}

.dark td {
  background-color: #313131;
}

.dark th {
  background-color: #181818;
}

nav {
  margin-bottom: 8px;
}

table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  padding: .3rem;
}

td {
  text-align: center;
  background-color: #D4EBD0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #A4C5C6;
}

button {
  border-radius: .375rem;
  padding: .5 1rem;
  border: 0;
  /* TODO: space out clear/add */
}
