body {
  font-family: Muli, Arial, sans-serif;
  background-color: #FAF4FF;
}

.dark {
  background-color: #000;
  color: #FFF;
}

.dark td {
  background-color: #313131;
}

.dark th {
  background-color: #181818;
}

nav {
  margin-bottom: 8px;
}

table {
  table-layout: fixed;
  width: 100%;
}

th, td {
  padding: .3rem;
}

td {
  text-align: center;
  background-color: #D4EBD0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #A4C5C6;
}

label {
  display: flex;
}

table button {
  padding: 0;
}
