body.dark {
  background-color: black;
  color: white;
}

nav {
  margin-bottom: 8px;
}

table {
  text-align: center;
}

tr > td {
  background-color: #EEFFE6;
}

tr > th {
  background-color: #E6FFFB;
}

table.dark {
  color: black;
}

table.dark td {
  background-color: #A1ACB3;
}

table.dark th {
  background-color: #808080;
}
