.dark {
  background-color: black;
  color: white;
}

.dark table {
  color: black;
}

.dark td {
  background-color: #A1ACB3;
}

.dark th {
  background-color: #808080;
}

nav {
  margin-bottom: 8px;
}

td {
  text-align: center;
}

/* TODO: apply fixed width to column 2 */
tr:second-child {
  width: 20%;
}

tr > td {
  background-color: #EEFFE6;
}

tr > th {
  background-color: #E6FFFB;
}
